@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido a Movimientos</h2>

<p>
    <a href="@Url.Action("Consultar", "MovimientosMVC")" class="btn btn-primary">Consultar Movimientos</a>
    <a href="@Url.Action("Nuevo", "MovimientosMVC")" class="btn btn-success">Nuevo Movimiento</a>
</p>
